body {
    height: 100%;
}
.lucas {
    height: 100%;
    width: 50%;
    background-color: red;
}
.lucas1 {
    height: 100%;
    width: 50%;
    background-color: blue;
}
.lucas2{
    height: 100%;
    width: 50%;
    background-color: aqua;
}
.flex_container {
    height: 100%;
    display: flex
 

}